@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* imports the Roboto font from google fonts  */

*{
    margin: 0px;
    padding: 0px;
}
/* the asterik selects all elements within the body  */
/* setting margin and padding to 0 stretches the elements to take up whole page  */

body{
    font-family: roboto;
}

.heroSection{
    background-color: #1F2937;
}

.nav{
    display: flex;
    padding: 15px;
}

.navLeft,.navRight{
/* using chaining selctors to select both nav sections  */
    display: flex;
    width: 50%;
    /* used to set each section's width to take up 50% of the nav div  */
    justify-content: center;
    align-items: center;
}

#headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
}

.headerLink{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
    /* adds space between each header link  */
}

li{
    list-style-type: none;
}

.awesome{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding-bottom: 75px;
}

.awesomeLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 154px;
    padding-right: 30px;
    
}

.awesomeText{
    font-size: 18px;
    color: #E5E7EB;
    
}

.buttonOne{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 90px;
    height: 27px;
    border: 2px #3882F6;
    border-radius: 8px;
    margin-top: 10px;
}

.awesomeRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* used to take up 50% of awesome div  */
    border: 3px solid gray;
    background-color: gray;
    color: #F9F8FA;
}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9F8FA;
}

#img{
    /* width: 125px;
    height: 125px;
    border: 3px solid gray;
    background-color: gray;
    color: #F9F8FA; */
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937; 
    text-align: center;
}

.informationSection{
    display: flex;
    flex-direction: column;


}

.infoContainer{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 50px 150px;

}

.infoBox{
    border: 3px solid #3882F6;
    width: 175px;
    height: 175px;
    border-radius: 10px;
    
}

.infoText{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.quoteSection{
    background-color: #E5E7E3;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quoteTextTwo{
    font-size: 18px;
    font-weight: bolder;
    margin-left: 590px;
}

.ctaSection{
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ctaContent{
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftCTA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.rightCTA{
    margin-right: 120px;
}

h4{
    color: #F9FAF8;

}

.ctaText{
    color: #E5E7EB;
}

.buttonTwo{
    background-color: #3882F6;
    width: 90px;
    height: 27px;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    color: #E5E7EB;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    displaY: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}